*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

.navbar-nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.navbar-nav a:hover {
    background-color: #fff;
    color: #234d27;
    border-color: #234d27;
}

.navbar-nav a.active {
    background-color: #234d27;
    border-color: #234d27;
}

.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/school.jpg.jpg);
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.logo{
    font-size: 32px;
    font-weight: 700;
}

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
    position: relative
}

.navbar ul li a{
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: rgb(70, 212, 35);
    left: 0;
    bottom: -10px;
    transition: 0 5s;
}
.navbar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    font-weight: 100;
    line-height: 25px;
    margin: 20px auto;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #3e753c;
    background: transparent;
    position:relative;
    overflow: hidden;
    text-transform: uppercase
}
span{
    background: #3e753c;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border:none;
}